In [1]:
import pandas as pd

In [2]:
df_user = pd.read_csv("award_user_base.csv", header=0, encoding='utf-8').drop(["Unnamed: 0"], axis=1)

In [3]:
df_user

     award_id  user_id  awardName
0          87     2993          3
1          32     2995          3
2         158     2997          2
3         171     3001          3
4          16     3005          2
..        ...      ...        ...
179       132     4357          7
180       166     4367          7
181       133     4392          6
182       105     4398          5
183       115     4446          1

[184 rows x 3 columns]

In [112]:
def to_csv_head(csv_name, csv_head, class_num=3):
    df_record = pd.read_csv(csv_name, header=0, encoding='utf-8')
    csv_head_n = df_record.columns[1: -1]
    if "label_encoding" in csv_name:
        csv_name_s = csv_name.split("_label")[0]
    else:
        csv_name_s = csv_name.split("_fact")[0]
    csv_head.append(csv_name_s + "_count")
    for i in range(0, class_num):
        for k in csv_head_n:
            csv_head.append(csv_name_s + "_" + k + "_" + str(i))
    return csv_head

csv_head = ['user_id', 'award_id']
csv_head = to_csv_head("paper_label_encoding_spectral_clustering.csv", csv_head)
csv_head = to_csv_head("patent_record_fact.csv", csv_head)
csv_head = to_csv_head("research_award_label_encoding_spectral_sorted.csv", csv_head)
csv_head = to_csv_head("research_project_fact.csv", csv_head)
csv_head = to_csv_head("competition_award_label_encoding_spectral.csv", csv_head)
csv_head = to_csv_head("honor_title_fact.csv", csv_head)
csv_head = to_csv_head("other_achievements_fact.csv", csv_head)

In [113]:
grade_col = list(pd.read_csv("grade_info.csv").drop(["Unnamed: 0"], axis=1).columns)

In [114]:
csv_head[len(csv_head): len(csv_head)] = grade_col[1:]

In [115]:
csv_head

['user_id',
 'award_id',
 'paper_count',
 'paper_authOrder_0',
 'paper_conferenceChoice_0',
 'paper_paperState_0',
 'paper_labels_0',
 'paper_authOrder_1',
 'paper_conferenceChoice_1',
 'paper_paperState_1',
 'paper_labels_1',
 'paper_authOrder_2',
 'paper_conferenceChoice_2',
 'paper_paperState_2',
 'paper_labels_2',
 'patent_record_count',
 'patent_record_classify_0',
 'patent_record_classify_1',
 'patent_record_classify_2',
 'research_award_count',
 'research_award_competeRange_0',
 'research_award_awardLevel_0',
 'research_award_labels_0',
 'research_award_competeRange_1',
 'research_award_awardLevel_1',
 'research_award_labels_1',
 'research_award_competeRange_2',
 'research_award_awardLevel_2',
 'research_award_labels_2',
 'research_project_count',
 'research_project_projectType_0',
 'research_project_projectType_1',
 'research_project_projectType_2',
 'competition_award_count',
 'competition_award_competeRange_0',
 'competition_award_awardLevel_0',
 'competition_award_labels_0',
 'competition_award_competeRange_1',
 'competition_award_awardLevel_1',
 'competition_award_labels_1',
 'competition_award_competeRange_2',
 'competition_award_awardLevel_2',
 'competition_award_labels_2',
 'honor_title_count',
 'honor_title_honorRank_0',
 'honor_title_honorRank_1',
 'honor_title_honorRank_2',
 'other_achievements_count',
 'other_achievements_honorRank_0',
 'other_achievements_honorRank_1',
 'other_achievements_honorRank_2',
 '专业选修课成绩',
 '专业选修课学分',
 '专业必修课成绩',
 '专业必修课学分',
 '选修课成绩',
 '选修课学分',
 '公共必修课成绩',
 '公共必修课学分',
 '未分类课成绩',
 '未分类课学分',
 '总成绩',
 '总学分']

In [66]:
df_paper = pd.read_csv("paper_label_encoding_spectral_clustering.csv").drop(["Unnamed: 0"], axis=1)

In [67]:
df_paper.loc[0, :]

authOrder              1
conferenceChoice       1
paperState             4
labels                 4
user_id             2995
Name: 0, dtype: int64

In [68]:
df_paper.sort_values(by=["user_id", "paperState", "authOrder", "conferenceChoice"], axis=0, ascending=[True, True, True, True], inplace=True)

In [69]:
df_paper.to_csv("paper_label_encoding_spectral_clustering_sorted.csv")

In [47]:
df_honor = pd.read_csv("honor_title_fact.csv").drop(["Unnamed: 0"], axis=1)

In [49]:
df_honor.loc[0,: ]

honorRank       4
user_id      2997
Name: 0, dtype: int64

In [50]:
df_honor.sort_values(by=["user_id", "honorRank"], ascending=[True, True], inplace=True)
df_honor.to_csv("honor_title_label_encoding_sorted.csv")

In [63]:
df_research = pd.read_csv("research_project_fact.csv").drop(["Unnamed: 0"], axis=1)

In [64]:
df_research

    projectType  user_id
0             6     2993
1             3     3026
2             1     3166
3             6     3167
4             4     3170
5             1     3172
6             6     3172
7             6     3172
8             6     3172
9             6     3172
10            6     3172
11            6     3185
12            6     3185
13            6     3198
14            3     3231
15            1     3235
16            6     3374
17            6     3423
18            3     3439
19            4     3439
20            6     3444
21            6     3444
22            6     3461
23            6     3461
24            6     3474
25            6     3474
26            6     3512
27            6     3512
28            6     3512
29            6     3534
30            6     3535
31            3     3538
32            3     3834
33            3     3834
34            4     3836
35            4     3838
36            4     3839
37            6     3850
38            6     3866
39            6     3877
40            6     3877
41            6     3888
42            5     3895
43            3     3895
44            6     3897
45            4     3897
46            6     3904
47            6     3904
48            4     3915
49            3     3933
50            6     3934
51            6     3935
52            6     3938
53            4     3965
54            2     4012
55            6     4111
56            6     4225
57            6     4225
58            5     4324
59            5     4324

In [72]:
df_research.sort_values(by=["user_id", "projectType"], ascending=[True, True], inplace=True)
df_research.to_csv("research_project_label_encoding_sorted.csv")

In [74]:
df_research_award = pd.read_csv("research_award_label_encoding_spectral.csv").drop(["Unnamed: 0"], axis=1)
df_research_award.loc[0, :]

competeRange       3
awardLevel         2
labels             6
user_id         3078
Name: 0, dtype: int64

In [77]:
df_research_award.sort_values(by=["user_id", "awardLevel", "competeRange"], ascending=[True, True, True], inplace=True)
df_research_award.to_csv("research_award_label_encoding_spectral_sorted.csv")

In [76]:
df_competition_award = pd.read_csv("competition_award_label_encoding_spectral.csv").drop(["Unnamed: 0"], axis=1)
df_competition_award.loc[0, :]

competeRange       4
awardLevel         6
labels             4
user_id         3036
Name: 0, dtype: int64

In [78]:
df_competition_award.sort_values(by=["user_id", "awardLevel", "competeRange"], ascending=[True, True, True], inplace=True)
df_competition_award.to_csv("competition_award_label_encoding_clustering_sorted.csv")

In [86]:
df_other = pd.read_csv("other_achievements_fact.csv").drop(["Unnamed: 0"], axis=1)
df_other.loc[0,: ]

honorRank       2
user_id      3001
Name: 0, dtype: int64

In [89]:
df_other.sort_values(by=["user_id", "honorRank"], ascending=[True, True]).reset_index(drop=True)
df_other.to_csv("other_achievements_label_encoding_sorted.csv")

In [164]:
df_all = pd.DataFrame(columns=csv_head)
df_all['user_id'] = df_user['user_id']
df_all['award_id'] = df_user['awardName']

def filling_label(df_all, df_single_name):
    df_single = pd.read_csv(df_single_name, header=0, encoding='utf-8').drop(["Unnamed: 0"], axis=1)
    count_num = -1
    index = 0
    previous_user_id = -1
    if "label_encoding" in df_single_name:
        name_s = df_single_name.split("_label")[0]
    else:
        name_s = df_single_name.split("_fact")[0]
    for ix, row in df_single.iterrows():
        
        # 很扯淡,但是确实如此,有的人奖学金数据为空,没有去掉这些人的论文等信息,所以手动处理一下,手动删除那几行就是王道,3889 & 3897, 并且防止长度过长进行修正
        if row['user_id'] == 3897 or row['user_id'] == 3889:
            continue
        
        if row['user_id'] == previous_user_id: # previous_user_id = df_all.loc[index, ['user_id']]
            count_num += 1
        else:
            list_name = name_s + "_count" 
            df_all.loc[index, list_name] = count_num + 1
            count_num = 0
        
        while df_all.loc[index, :]['user_id'] != row['user_id']:
            index += 1
#             print("a" + str(df_all.loc[index, :]['user_id']))
        
        def fillin():
            column_names = df_single.columns[: -1]
            for column in column_names:
                column_name = name_s + "_" + column + "_" + str(count_num)
                df_all.loc[index, column_name] = row[column]
                if "label" in column:
                    df_all.loc[index, column_name] += 1
        if count_num <= 2:
            fillin()
        previous_user_id = row['user_id']
    list_name = name_s + "_count" 
    df_all.loc[index, list_name] = count_num + 1
    return df_all.copy()

In [165]:
df_all = filling_label(df_all, "paper_label_encoding_spectral_clustering.csv")
df_all = filling_label(df_all, "patent_record_fact.csv")
df_all = filling_label(df_all, "competition_award_label_encoding_clustering_sorted.csv")
df_all = filling_label(df_all, "honor_title_label_encoding_sorted.csv")
df_all = filling_label(df_all, "research_award_label_encoding_spectral_sorted.csv")
df_all = filling_label(df_all, "research_project_label_encoding_sorted.csv")
df_all = filling_label(df_all, "other_achievements_label_encoding_sorted.csv")

In [166]:
df_all

,user_id,award_id,paper_count,paper_authOrder_0,paper_conferenceChoice_0,paper_paperState_0,paper_labels_0,paper_authOrder_1,paper_conferenceChoice_1,paper_paperState_1,...,专业必修课成绩,专业必修课学分,选修课成绩,选修课学分,公共必修课成绩,公共必修课学分,未分类课成绩,未分类课学分,总成绩,总学分
0,2993,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2995,3,1,1,1,4,5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2997,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3001,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3005,2,2,1,1,1,6,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,4357,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,4367,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,4392,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,4398,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,4446,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [167]:
df_grade_info = pd.read_csv("grade_info_2.csv").drop(["Unnamed: 0"], axis=1)
grade_cols = list(df_grade_info.columns)

In [168]:
grade_cols = list(df_grade_info.columns)

In [169]:
grade_cols = list(pd.read_csv("grade_info.csv").drop(["Unnamed: 0"], axis=1).columns)
inc = 0
for ix, row in df_all.iterrows():
    while df_grade_info.loc[inc, :][0] != row["user_id"]:
        inc += 1
    for col in grade_cols:
        df_all.loc[ix, [col]] = df_grade_info.loc[inc, [col]]

In [170]:
df_all.fillna(0).to_csv("features_63.csv")

In [172]:
df_all = pd.read_csv("features_63.csv").drop(["Unnamed: 0"], axis=1)

In [173]:
df_all

,user_id,award_id,paper_count,paper_authOrder_0,paper_conferenceChoice_0,paper_paperState_0,paper_labels_0,paper_authOrder_1,paper_conferenceChoice_1,paper_paperState_1,...,专业必修课成绩,专业必修课学分,选修课成绩,选修课学分,公共必修课成绩,公共必修课学分,未分类课成绩,未分类课学分,总成绩,总学分
0,2993.0,3,0,0,0,0,0,0,0,0,...,0.0,0.0,90.947368,9.5,0.0,0.0,85.903226,15.5,87.820000,25.0
1,2995.0,3,1,1,1,4,5,0,0,0,...,0.0,0.0,82.692308,6.5,0.0,0.0,86.459459,18.5,85.480000,25.0
2,2997.0,2,0,0,0,0,0,0,0,0,...,0.0,0.0,85.000000,7.0,0.0,0.0,87.777778,18.0,87.000000,25.0
3,3001.0,3,0,0,0,0,0,0,0,0,...,0.0,0.0,90.043478,11.5,0.0,0.0,90.481481,13.5,90.280000,25.0
4,3005.0,2,2,1,1,1,6,1,1,1,...,0.0,0.0,77.500000,4.0,0.0,0.0,78.428571,21.0,78.280000,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,4357.0,7,0,0,0,0,0,0,0,0,...,0.0,0.0,0.000000,0.0,0.0,0.0,89.727273,11.0,89.727273,11.0
180,4367.0,7,0,0,0,0,0,0,0,0,...,0.0,0.0,0.000000,0.0,85.0,2.0,76.714286,7.0,78.555556,9.0
181,4392.0,6,0,0,0,0,0,0,0,0,...,0.0,0.0,0.000000,0.0,85.0,2.0,88.428571,14.0,88.000000,16.0
182,4398.0,5,0,0,0,0,0,0,0,0,...,0.0,0.0,0.000000,0.0,85.0,2.0,0.000000,14.5,9.189189,18.5
183,4446.0,1,0,0,0,0,0,0,0,0,...,0.0,0.0,0.000000,0.0,0.0,0.0,82.848485,16.5,82.848485,16.5

In [175]:
df_all.groupby("award_id")["award_id"].count()

award_id
0     4
1    27
2    40
3    86
4     8
5     4
6    11
7     3
8     1
Name: award_id, dtype: int64

In [176]:
df_all.groupby("award_id")["award_id"].count()
labels_grt_39 = [i[0] for i in list(zip([i for i in range(0, 9)], list(df_all.groupby("award_id")['award_id'].count() > 39))) if i[1]]

In [179]:
df_2 = pd.DataFrame(columns=df_all.columns)
for index, row in df_all.iterrows():
    if row["award_id"] in labels_grt_39:
        df_2 = df_2.append(row, ignore_index=True)
df_2.to_csv("features_63_label_2.csv")

In [ ]:
df_2 = pd.read_csv("features_63_labels_2.csv").drop(["Unnamed: 0"], axis=1)

In [180]:
def data_to_read(name):
    return eval(name)

In [182]:
df = data_to_read("df_2")

In [183]:
df_labels = df["award_id"]
df_user_id = df["user_id"]

df.drop(columns=["award_id", "user_id"], axis=1, inplace=True)